<h2>Eliminar peliculas de cartelera</h2>
<div class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Clasificación</th>
          <th>Duración</th>
          <th>Genero</th>
          <th>fecha de estreno</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pelicula of peliculas; index as i">
          <td>{{i+1}}</td>
          <td>{{pelicula.nombre}}</td>
          <td>{{pelicula.clasificacion}}</td>
          <td>{{pelicula.duracion}}</td>
          <td>{{pelicula.genero}}</td>
          <td>{{pelicula.fecha_de_estreno}}</td>
          <td>
            <button class="btn btn-danger" (click)="deletePelicula(pelicula._id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

